<section>
    <footer class="bg-light text-black-50 text-center text-lg-start mt-5">
        <div class="container py-4">
            <div class="row">

                <!-- Gestión de Usuarios -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase mb-3">
                        <i class="fas fa-users me-2"></i>Gestión de Usuarios
                    </h6>
                    <ul class="list-unstyled">
                        <li>
                            <a [routerLink]="['/home']" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-list me-2"></i><small>Listado de Usuarios</small>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/newuser']" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-user-plus me-2"></i><small>Registrar Nuevo Usuario</small>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Soporte -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase mb-3">
                        <i class="fas fa-headset me-2"></i>Soporte
                    </h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:soporte@usuariosapp.com" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-envelope me-2"></i><small>Correo de Soporte</small>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-comments me-2"></i><small>Foro de la Comunidad</small>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Recursos y Documentación -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h6 class="text-uppercase mb-3">
                        <i class="fas fa-book me-2"></i>Documentación
                    </h6>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-file-pdf me-2"></i><small>Guía de Usuario</small>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-black-50 link-underline link-underline-opacity-0">
                                <i class="fas fa-lock me-2"></i><small>Política de Privacidad</small>
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Redes Sociales -->
                <div class="col-lg-3 col-md-6 mb-0 mb-md-0">
                    <h6 class="text-uppercase mb-3">
                        <i class="fas fa-share-alt me-2"></i>Conéctate con Nosotros
                    </h6>
                    <div>
                        <a class="btn btn-link btn-floating btn-lg text-black-50 m-1" href="#!" aria-label="Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-link btn-floating btn-lg text-black-50 m-1" href="#!" aria-label="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-link btn-floating btn-lg text-black-50 m-1" href="#!" aria-label="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>