<div class="card rounded-4 border-0 ">
    <div class="p-3 pb-1">
        <a [routerLink]="['/user', usuario._id]"><img [src]="usuario.image" alt="{{ usuario.first_name }}"
                class="card-img rounded-2 ">
        </a>

    </div>
    <div class="card-body">
        <h6 class="card-title">{{ usuario.first_name }} {{ usuario.last_name }}</h6>

        <div class="d-flex justify-content-around gap-1 mt-3 bg-light rounded-3 py-2 px-3 ">
            <!-- Botón Ver Detalle -->
            <a [routerLink]="['/user', usuario._id]"
                class="btn btn-sm d-flex flex-column align-items-center text-black-50 p-0">
                <i class="fa-solid fa-magnifying-glass"></i> <span class="small fw-bold text-black-50">Detalles</span>
            </a>

            <!-- Botón Actualizar -->
            <a [routerLink]="['/updateuser', usuario._id]"
                class="btn btn-sm d-flex flex-column align-items-center text-black-50 p-0">
                <i class="fa-regular fa-pen-to-square"></i> <span class="small fw-bold text-black-50">Editar</span>
            </a>

            <!-- Botón Borrar -->
            <button (click)="confirmarBorrar()" class="btn btn-sm d-flex flex-column align-items-center text-black-50 p-0"
                >
                <i class="fa-regular fa-trash-can"></i> <span class="small fw-bold text-black-50">Borrar</span>
            </button>
        </div>
    </div>
</div>