<section class="container my-5">
    <div class="row g-5">
        @for (usuario of usuarios | paginate: { itemsPerPage: 6, currentPage: paginaActual }; track usuario._id) {
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <app-user-card [usuario]="usuario"></app-user-card>
        </div>
        }
    </div>
    <div class="mt-5">
        <div class="custom-pagination d-flex justify-content-between align-items-center">
            <button class="btn btn-light" (click)="paginaActual = paginaActual - 1" [disabled]="paginaActual === 1">
                Anterior
            </button>

            <span class="small text-black-50">Página {{ paginaActual }} de {{ totalPaginas }}</span>

            <button class="btn btn-light" (click)="paginaActual = paginaActual + 1"
                [disabled]="paginaActual === totalPaginas">
                Siguiente
            </button>
        </div>
    </div>
</section>