html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #eceff3 !important;

}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex; /* Esto hace que el contenido dentro se centre */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
